<!-- fixed-top-->
<ng-include src="'views/topmenu.html'"></ng-include>
<ng-include src="'views/leftmenu.html'"></ng-include>
<ajustebody></ajustebody>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Clientes</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/#!/newclient">Novo</a>
                  </li>
                  <li class="breadcrumb-item active">Clientes
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">

<div class="row">
    <div id="recent-transactions" class="col-12">
        <h6 class="my-2">Clientes</h6>
        <div class="card">
            <div class="card-content">
                <div class="table-responsive">
                    <table id="recent-orders" class="table table-hover table-xl mb-0">
                        <thead>
                            <tr>
                                <th class="border-top-0">#ID</th>
                                <th class="border-top-0">Nome</th>
                                <th class="border-top-0">Usuario</th>
                                <th class="border-top-0">Email</th>
								<th class="border-top-0">Telefone</th>
                                <th class="border-top-0">Ferramentas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="client in listagemClientes | orderBy : 'id'">
                                <td class="text-truncate">{{client.id}}</td>
                                <td class="text-truncate">{{client.name}}</td>
                                <td class="text-truncate">{{client.username}}</td>
                                <td class="text-truncate">{{client.email}}</td>
								<td class="text-truncate">{{client.telefone}}</td>
                                <td>
                                    <a ng-href="/#!/editclient/{{client.id}}" class="mb-0 btn-sm btn btn-outline-success round">Editar</a>
                                    <button ng-click="deleteClient(client.id,client.name)" class="mb-0 btn-sm btn btn-outline-danger round">Excluir</button>
                                </td> 
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer footer-static footer-transparent">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 EMEFX , All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made by Gitz<i class="ft-heart pink"></i></span></p>
    </footer>