<!-- fixed-top-->
<ng-include src="'views/topmenu.html'"></ng-include>
<ng-include src="'views/leftmenu.html'"></ng-include>
<ajustebody></ajustebody>
 <!-- ////////////////////////////////////////////////////////////////////////////-->
 
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Editar Cliente</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/#!/home">Dashboard</a>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><div class="row">
    <div class="col-12 col-md-12">
        <!-- User Profile -->
        <section class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-12 col-12">
							<h5 class="mt-3">Dados do Cliente</h5>
                                <hr/>
								<form name="edit_client" ng-submit="submitUpdateClient()" class="form-horizontal form-user-profile row mt-2" >
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="name" ng-model="clientdata.name" value="{{clientdata.name}}" required="" autofocus="">
                                            <label for="first-name">Nome</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="email" ng-model="clientdata.email" value="{{clientdata.email}}" required="" autofocus="">
                                            <label for="email-address">Email</label>
                                        </fieldset>
                                    </div>
									<div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="username" ng-model="clientdata.username" value="{{clientdata.username}}" required="" autofocus="">
                                            <label for="username">Username</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="telefone" ng-model="clientdata.telefone" value="{{clientdata.telefone}}" required="" autofocus="">
                                            <label for="telefone">Telefone</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="cpf" ng-model="clientdata.cpf" value="{{clientdata.cpf}}" required="" autofocus="">
                                            <label for="cpf">CPF</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <select class="custom-select" id="level" ng-model="clientdata.manager" 
                                            ng-value="{{clientdata.manager}}" 
                                            required="">
											<option ng-selected="{{x.id == clientdata.manager}}" ng-repeat="x in managerlist" value="{{x.id}}">{{x.name}}</option>
											</select>
                                        </fieldset>
                                    </div>
                               <!--   <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="password" class="form-control" id="password" ng-model="userdata.password" placeholder="Senha" required="" autofocus="">
                                            <label for="password">Senha</label>
                                        </fieldset>
                                    </div> -->  
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn-gradient-secondary my-1">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


  <footer class="footer footer-static footer-transparent">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 EMEFX , All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made by Gitz<i class="ft-heart pink"></i></span></p>
    </footer>