<!-- fixed-top-->
<ng-include src="'views/topmenu.html'"></ng-include>
<ng-include src="'views/leftmenu.html'"></ng-include>
<ajustebody></ajustebody>
 <!-- ////////////////////////////////////////////////////////////////////////////-->
 
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Editar VPS</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/#!/home">Dashboard</a>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><div class="row">
    <div class="col-12 col-md-12">
        <!-- vps Profile -->
        <section class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-12 col-12">
							<h5 class="mt-3">Dados do VPS</h5>
                                <hr/>
								<form name="edit_vps" ng-submit="submitEditvps()" class="form-horizontal form-user-profile row mt-2" >
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="ip" ng-model="vpsdata.ip" value="" required="" autofocus="">
                                            <label for="ip">IP</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="codigo" ng-model="vpsdata.codigo" value="" required="" autofocus="">
                                            <label for="codigo">CÓDIGO</label>
                                        </fieldset>
                                    </div>
									<div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="admin" ng-model="vpsdata.admin" value="" required="" autofocus="">
                                            <label for="admin">ADMIN</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="password" ng-model="vpsdata.password"  required="" autofocus="">
                                            <label for="password">SENHA</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
											<select class="custom-select" id="manager" ng-model="vpsdata.manager" required="">
											<option ng-selected="{{x.id == vpsdata.manager}}" ng-repeat="x in vpslist" value="{{x.id}}">{{x.manager}}</option>
											</select>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
											<select class="custom-select" id="status" ng-model="vpsdata.status" required="">
											<option ng-selected="{{x.id == vpsdata.status}}" ng-repeat="x in levelslist" value="{{x.id}}">{{x.status}}</option>
											</select>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="date" class="form-control" id="validade" ng-model="vpsdata.validade" required="" autofocus="">
                                            <label for="validade">VALIDADE</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn-gradient-secondary my-1">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


  <footer class="footer footer-static footer-transparent">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 EMEFX , All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made by Gitz<i class="ft-heart pink"></i></span></p>
    </footer>