<div class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow">
      <div class="main-menu-content"><a class="navigation-brand d-none d-md-block d-lg-block d-xl-block" href="/#!/home"><img class="brand-logo" alt="" src="/images/logo/logo.png"/></a>
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" nav-item"><a href="/#!/home"><i class="fas fa-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
          </li>
          <li class=" nav-item has-sub" id="networkmenu" ><a href="" ><i class="fas fa-users"></i><span class="menu-title" data-i18n="">Controle</span></a>
            <ul class="menu-content">
                   <li><a class="menu-item" href="/#!/users" sidebar-toggle-mobil>Equipe</a>
                   </li>
                   <li><a class="menu-item" href="/#!/clients" sidebar-toggle-mobil>Clientes</a>
                   </li>
                   <li><a class="menu-item" href="/#!/accounts" sidebar-toggle-mobil>Contas</a>
                   </li>
                   <li><a class="menu-item" href="/#!/vps" sidebar-toggle-mobil>VPS</a>
                   </li>
                 </ul>
               </li>
               <li class=" nav-item has-sub" id="networkmenu" ><a href="" ><i class="fas fa-sitemap"></i><span class="menu-title" data-i18n="">Monitor</span></a>
                <ul class="menu-content">
                       <li><a class="menu-item" href="/#!/monitor-ea" sidebar-toggle-mobil>Monitor EA</a>
                       </li>
                       <li><a class="menu-item" href="/#!/monitor-funds" sidebar-toggle-mobil>Monitor Fundos</a>
                       </li>
                       <li><a class="menu-item" href="/#!/monitor-traders" sidebar-toggle-mobil>Monitor Traders</a>
                       </li>
                       <li><a class="menu-item" href="/#!/monitor-vps" sidebar-toggle-mobil>Monitor VPS</a>
                       </li>
                     </ul>
                   </li>    
          <li class=" nav-item"><a href="/#!/finances"><i class="fas fa-money-bill-alt"></i><span class="menu-title" data-i18n="">Financeiro</span></a>
          </li>
        
         <!-- <li class=" nav-item"><a href="/#!/faq"><i class="fas fa-book"></i><span class="menu-title" data-i18n="">FAQ</span></a>
          </li>-->
		<!---  <li class=" nav-item"><a href="/#!/pool"><i class="fas fa-coins"></i><span class="menu-title" data-i18n="">Pool</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/profile"><i class="fas fa-address-card"></i><span class="menu-title" data-i18n="">Account</span></a>
          <!--  <ul class="menu-content">
              <li><a class="menu-item" href="/#!/profile">Profile</a>
              </li>
              <li><a class="menu-item" href="/#!/history">Login History</a>
              </li>
              <li class="navigation-divider"></li>
              <li class="has-sub"><a class="menu-item">Misc</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="/#!/login">Login</a>
                  </li>
                  <li><a class="menu-item" href="/#!/register">Register</a>
                  </li>
                </ul>
              </li>
            </ul>-->
          </li>
        </ul>
      </div>
    </div>