<div class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow">
      <div class="main-menu-content"><a class="navigation-brand d-none d-md-block d-lg-block d-xl-block" href="/#!/home"><img class="brand-logo" alt="" src="/images/logo/logo.png"/></a>
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" nav-item"><a href="/#!/home"><i class="fas fa-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/users"><i class="fas fa-user"></i><span class="menu-title" data-i18n="">Equipe</span></a>
          </li>
		      <li class=" nav-item"><a href="/#!/clients"><i class="fas fa-users"></i><span class="menu-title" data-i18n="">Clientes</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/vps"><i class="fas fa-tv"></i><span class="menu-title" data-i18n="">VPS</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/accounts"><i class="fas fa-clipboard-list"></i><span class="menu-title" data-i18n="">Contas</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/finances"><i class="fas fa-money-bill-alt"></i><span class="menu-title" data-i18n="">Financeiro</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/monitor-ea"><i class="fab fa-android"></i><span class="menu-title" data-i18n="">Mon. EA</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/monitor-funds"><i class="fas fa-gem"></i><span class="menu-title" data-i18n="">Mon. Fundos</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/monitor-traders"><i class="fas fa-trophy"></i><span class="menu-title" data-i18n="">Mon. Traders</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/monitor-vps"><i class="fas fa-sitemap"></i><span class="menu-title" data-i18n="">Mon. VPS</span></a>
          </li>
         <!-- <li class=" nav-item"><a href="/#!/faq"><i class="fas fa-book"></i><span class="menu-title" data-i18n="">FAQ</span></a>
          </li>-->
		<!---  <li class=" nav-item"><a href="/#!/pool"><i class="fas fa-coins"></i><span class="menu-title" data-i18n="">Pool</span></a>
          </li>
          <li class=" nav-item"><a href="/#!/profile"><i class="fas fa-address-card"></i><span class="menu-title" data-i18n="">Account</span></a>
          <!--  <ul class="menu-content">
              <li><a class="menu-item" href="/#!/profile">Profile</a>
              </li>
              <li><a class="menu-item" href="/#!/history">Login History</a>
              </li>
              <li class="navigation-divider"></li>
              <li class="has-sub"><a class="menu-item">Misc</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="/#!/login">Login</a>
                  </li>
                  <li><a class="menu-item" href="/#!/register">Register</a>
                  </li>
                </ul>
              </li>
            </ul>-->
          </li>
        </ul>
      </div>
    </div>