<!-- fixed-top-->
<ng-include src="'views/topmenu.html'"></ng-include>
<ng-include src="'views/leftmenu.html'"></ng-include>
<ajustebody></ajustebody>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Monitor</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/!#/home">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Monitor
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">

<div class="row">     
<div class="card pt-1 table-responsive">
<div class="card-content">     
		<div ng-controller="monitorVpsCtrl">
			<div class="col-md-12 col-lg-12" ultimate-datatable="datatable">
			</div>
		</div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
      </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer footer-static footer-transparent">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 EMEFX , All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made by Gitz<i class="ft-heart pink"></i></span></p>
    </footer>