<!-- fixed-top-->
<ng-include src="'views/topmenu.html'"></ng-include>
<ng-include src="'views/leftmenu.html'"></ng-include>
<ajustebody></ajustebody>
 <!-- ////////////////////////////////////////////////////////////////////////////-->
 
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Details</h3>
               <h3 class="content-header-title mb-0 d-inline-block">345398573</h3>
          </div>
		  
        </div>
        <div class="content-body">
		<div class="row">
     <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Payment BTC</h3>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
				<h6 class="text-center">Send exactly <strong>0.01000000 BTC</strong> to the address below:</h6>
<h6 class="text-center"><strong>1EiNxVJRLh3ffudwLp6CYgofHuNTtsHj3y</strong></h6></br>
                    <div class="text-center row clearfix mb-2">
                        <div class="col-12">
                            <img src="/images/icons/sample-qr.png" style="width: 200px;">
                        </div>
                    </div>
                    
                </div>
                <div class="table-responsive">
                    <table class="table table-de mb-0 text-center">
                        <tbody>
                            <tr>
                                <td>- The amount to be sent should be exactly 0.01000000 BTC</td>
                            </tr>
                            <tr>
                                <td>- The address above is solely and exclusively for this payment.</td>
                            </tr>
                            <tr>
                                <td>- This key is deleted after 15 minutes. After this period, you must access your Back Office to generate a new key</td>
                            </tr>
                            <tr>
                                <td>- Values sent below or in duplicity will NOT be refunded and will NOT be processed.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
        </div>
      </div>
    </div>
</div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
<footer class="footer footer-static footer-transparent">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 <a class="text-bold-800 grey darken-2" href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">PIXINVENT </a>, All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span></p>
    </footer>

    